* {
    /* font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif; */
    margin: 0;
    padding: 0;
}

.header-part {
    margin: 50px;

}

.banner {


    border-radius: 15px;
    background: linear-gradient(180deg, #070211 0%, rgba(121, 109, 146, 0) 100%), url('../resources/Banner\ Image.png');

    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    background-position: center;


}

.banner-title {
    text-align: center;
    font-family: 'Merriweather', serif;
}

.small-title {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 400;
}

.big-title {
    color: #FFFFFF;
    font-size: 62px;
    font-weight: 900;
    line-height: 95px;
}

.banner-title {
    width: 600px;
    align-items: center;
    padding: 200px 300px 150px 300px;

}

/* main part style */
.main-content {
    text-align: center;
}

.main-head {
    color: rgb(221, 21, 21);
    font-size: 78px;
    font-weight: 700;
    font-family: inter;
    margin: 80px 0px;


}

.main-description {
    color: rgb(142, 42, 42);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}

.main-small-head {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin: 10px 0px 40px 0px;

}

.main-img {
    height: 500px;
    width: 700px;
}

/* vector relater style */
.vector-banner {
    background: linear-gradient(90deg, #140433 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    background-position: center;
    border-radius: 15px;
}

.vector-title {
    color: #FFFFFF;
    font-family: Merriweather;
    font-size: 60px;
    font-weight: 900;
    line-height: 80px;
    letter-spacing: 8px;
}

.vector-discription {
    color: rgba(249, 231, 231, 0.8);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    margin: 50px 0px;
}

.btn-primary {
    background: #070211;
    color: #FFFFFF;
    text-align: center;
    font-family: Inter;
    font-size: 15x;
    font-weight: 700;
    border: 0;
    margin-left: 20px;
}

.btn-primary:hover {
    border: 2px solid rgb(9, 17, 235);
    padding: 5px;
    border-radius: 5px;
}

.vector-part {
    margin: 50px;
}

.vector-content {
    padding: 180px 80px;

}

.vector-banner {
    display: flex;
    /* gap: 25px; */
}

.bector-image {
    width: 350px;
    height: 450px;
    padding: 150px 100px 50px 0px;
}





/* place-date-time- related style */
.place-date-time {
    margin: 50px;
}

.place-date-time-color {
    color: #F00;

}

.place-date-time-description {
    text-align: center;
    color: #070211;
    font-family: Inter;
    font-size: 30px;
    font-weight: 600;
    line-height: 60px;
    text-transform: capitalize;
    padding: 100px 250px;
    background: linear-gradient(180deg, rgba(184, 25, 25, 0.1) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 10px;
}

.secondary-btn {

    color: #FFFFFF;
    text-align: center;
    font-family: Inter;
    font-size: 15x;
    font-weight: 700;
    border: 0;
    border-radius: 6px;
    background: #F00;
    padding: 10px 15px;
}

/* offer related style */
.offer-section {
    margin: 50px;
}

.offer-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.offer-image {
    width: 100%;
}

.coming-soon-content {
    width: 100%;
}

.year-content {
    width: 100%;
    /* align-items: center;
    margin-top: 50px; */


}

.coming-soon-subtitle {
    color: rgb(230, 30, 30);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;

}

.coming-soon-title {
    color: black;
    font-family: Merriweather;
    font-size: 40px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 20px 0px;
}

.coming-soon-description {
    color: rgba(9, 7, 12, 0.6);
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

.year-title {
    color: #F00;
    font-family: inter;
    font-size: 40px;
    font-weight: 700;

}

.year-description {
    color: #302c37;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0px 30px 0px;
}

.year-image {
    height: 130px;
    width: 130px;

}

.main-offer-img {
    width: 320px;
    height: 320px;
    padding: 10px;
}

.offer-image {
    margin-left: 100px;
    width: 420px;
    height: 340px;
    border-radius: 463px;
    border: 12px solid #F00;
}

.year-content {
    margin-left: 80px;
}

/* functional part */
.a{
    margin-top: -400px;
}
.discount-women-image{
    width: 500px;
    height: 450px;
    position: relative;
    left: 713px;
    top: 390px;
}
.reward-image{
    width: 450px;
    height: 480px;
    position: relative;
    top: 150px;
    left: 20px;
}
.functional-banner{
 width: 1163;
 height: 150px;
}
.discount-image{
     width: 160px;
    height: 160px;
    position: relative;
    top: 200px;
    right: 75px;
   

   
    
    
   
}
.women-image{
    width: 350px;
    height: 380px;
    padding-left: 100px;
   
  
   
}
.functional-section {
    margin: 100px 50px;
}

.functional-container {
    margin-left: 210px;
}

.functional-sub-container {
    text-align: center;
    width: 750px;

}

.functional-sub-title {
    color: #0c0a12;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;


}

.functional-title {
    color: rgb(220, 11, 11);
    font-family: 'Merriweather', serif;
    font-size: 62px;
    font-weight: 900;
    margin: 20px 0px;

}

.sale-span {
    color: black;
}

.functional-description {
    color: rgba(43, 39, 52, 0.6);
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}







/* .awesome related style */
.awesome-title {
    color: black#070211;
    font-family: Merriweather;
    font-size: 42px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 20px 0px;
}

.awesome-content {
    width: 700px;
    text-align: left;
}

.awesome-sub-title {
    color: #F00;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;

}

.awesome-description {
    color: rgba(29, 24, 39, 0.6);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}

.section-awesome-image-02 {
    display: flex;
    gap: 20px;
    margin-top: 20px;

}

.section-awesome-image {
    display: flex;
    gap: 20px;

}

.section-awesome {
    margin: 50px;

}

.awesome-image:hover {
    border: 5px solid rgb(178, 173, 210);
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 2px 1px 5px silver;
    margin: 0;
    padding: 0;


}

/* subscriber related style */
.subscriber-section {
    margin: 50px;
}

.subscriber-container {
    border-radius: 15px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    padding: 100px 200px;
}




.subscriber-title {
    color: black;
    font-family: Merriweather;
    font-size: 42px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 20px 0px;
}

.subscriber-description {
    color: rgba(82, 71, 104, 0.6);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.input {
    color: rgba(7, 2, 17, 0.30);
    text-align: left;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    padding: 8px 25px 10px 25px;
    border: 0;
    border-radius: 25px 0px 0px 25px;

}

.secondary-btn02 {

    color: #FFFFFF;
    text-align: center;
    font-family: Inter;
    font-size: 15x;
    font-weight: 700;
    border: 0;
    border-radius: 0px 25px 25px 0px;
    background: #F00;
    padding: 10px 15px;
}

.input-submit-btn {
    margin-top: 35px;


}

/* footer ralated style */
.footer-section {
    background: black;
    padding: 100px;
}

.address-description {
    color: #FFFFFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
    width: 350px;
}

.contact-description {
    color: #FFFFFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
    margin-left: 30px;
}

.footer-head {
    display: flex;
    justify-content: space-between;
}

.phon-span {
    margin: 0px 0px 30px 10px;
}

.website-span {
    margin: 0px 0px 30px 10px;
}

.social-icon {
    text-align: center;
    margin: 80px;
}

.social-icon a:hover {
    box-shadow: rgba(241, 236, 236, 0.904) 0px 5px 15px;
    color: brown;
    background:silver;
}
.social-icon a {
    padding: 18px;
    margin: 5px;
    background-color: rgb(10, 134, 210);
    color: #FFFFFF;
    border-radius: 15px;
   
    cursor: pointer;
}


.footer-r-foot-description {
    color: #FFFFFF;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;

}
.footer-description-button{
    display: flex;
    justify-content: space-between;
}
.horizontal-row{
    background: #FFFFFF;
    margin: 50px 0px;
}